<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qin.love" >

    <!-- Push SDK权限 start -->
    <!-- 声明自定义权限 -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>
    <!-- 添加该自定义权限 -->
    <uses-permission android:name="cn.bmob.permission.push" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Push SDK权限 end -->
    <!--通知震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许网络连接以及网络状态改变 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 文件存储 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.qin.Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" >
        </activity>
        <activity android:name=".CutPicActivity" >
        </activity>
        <activity android:name=".ChooseImageActivity" >
        </activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity
            android:name=".UserDataActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".AddMemoryDayActivity" >
        </activity>
        <activity
            android:name=".DiaryActivity"
            android:label="@string/title_activity_diary" >
        </activity>

        <!-- IM聊天所需的Push start -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
        <!-- IM聊天所需的Push end -->

        <activity
            android:name=".AddDiaryActivity"
            android:label="@string/title_activity_add_diary"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".MemoryDayActivity"
            android:label="@string/title_activity_memory_day" >
        </activity>
        <activity
            android:name=".AddTimeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_add_time"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShowPhotoActivity"
            android:label="@string/title_activity_show_photo" >
        </activity>
        <activity android:name=".GetLocationActivity" >
        </activity>
        <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="06fd23c16c3f67baaaaed71e946fadd9" />
        <service android:name="com.amap.api.location.APSService"></service>
        <!-- 设置bmob appkey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="7ebb3702499aa5790010cdde4d090aa6" />
    </application>

</manifest>
